<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Article</title>

    <!--    Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

<header>
    <a href="/articles"><h1>GameTogether! 같이할래?</h1></a>
    <h5>나랑 같이 게임할사람~?</h5>
</header>

<main>
    <button type="button" id="createArticle-btn" th:onclick="|location.href='@{/new-article}'|" class="btn btn-primary">글 등록</button>
    <button type="button" id="myArticle-btn" th:onclick="|location.href='@{/my-article}'|" class="btn btn-primary">내가 쓴 글</button>
    <button type="button" id="chatRoom-btn" th:onclick="|location.href='@{/chat-room}'|" class="btn btn-primary">채팅방</button>

    <div class="card">
        <input type="hidden" id="article-id" th:value="${article.id}">
        <input type="hidden" id="article-author" th:value="${article.author}">
        <input type="hidden" id="article-selectedGame" th:value="${article.selectedGame}">

        <div class="card-header" th:text="${article.title}">
            ArticleTitle
        </div>
        <div class="card-body">
            <h5 class="card-title" th:text="${article.content}">ArticleContent</h5>
            <p class="card-text" th:text="|게시한 날짜 : ${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')} 글쓴이 : ${article.author}|">ArticleContent</p>
            <button type="button" id="delete-btn" class="btn btn-primary">삭제</button>
            <div>
                <button type="button" id="chat-Btn" class="btn btn-primary">채팅하기</button>
            </div>
        </div>
    </div>
</main>

<script src="/js/chatRoom/js"></script>
<script src="/js/apiRequest.js"></script>
<script src="/js/article.js"></script>

</body>
</html>