<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>chater</title>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>

    <!--    Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
<div>
    <div class="container">
        <div class="col-6">
            <input type="hidden" id="chatRoom-id" th:value="${chatRoom.id}">
            <input type="hidden" id="article-id" th:value="${chatRoom.articleId}">
            <input type="hidden" id="author" th:value="${chatRoom.author}">
            <input type="hidden" id="selectedGame" th:value="${chatRoom.selectedGame}">
            <input type="hidden" id="username" th:value="${chatRoom.username}">
        </div>

        <div>
            <div class="col-md-12">
                <table id="chatting">

                </table>
            </div>

            <div class="col-6">
                <div class="input-group mb-3">
                    <input type="text" id="message" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="send">전송</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/apiRequest.js"></script>
<script>
    var sender;
    document.addEventListener('DOMContentLoaded', function() {

    function success(response) {
        response.text().then(text => {
                console.log('text 출력.', text);
                const data = JSON.parse(text);
                console.log('로그인한 유저 아이디 : ', data.username);
                sender = data.username;
            }).catch(error => {
                console.error('Failed to read response body:', error);
            });
        }

        function fail() {
            alert('내가 쓴 목록을 조회실패했습니다.');
            location.replace('/articles');
        }

        httpRequest('GET',`/api/userinfo`, null, success, fail);

});
</script>

<script th:inline="javascript">
    var stompClient = null;
    var roomId = document.getElementById('chatRoom-id').value;
    var chatList = null;
    var author = document.getElementById('author').value;
    var username = document.getElementById('username').value;
    var receiver = null;

    function setConnected(connected){
        if (connected) {
        console.log('setConnected의 true');
            $("#conversation").show();
        }else {
        console.log('setConnected의 false');
            $("#conversation").hide();
        }
    }


    function connect(){
    console.log('connect으로 들어옴');
        var socket = new SockJS("/ws-stomp");
    console.log('socket : ', socket);
        stompClient = Stomp.over(socket);
        console.log('stompClient : ', stompClient);

//연결이 성공한 경우, frame : 연결될 때 반환되는 객체
        stompClient.connect({}, function (frame){
            setConnected(true);
            console.log('Connected : ', frame);
            loadChat(chatList)

//특정 채팅방을 구독, 새로운 채팅 메시지가 도착할 때마다 표시하는 함수(showChat)
            stompClient.subscribe('/room/' + roomId, function(chatMessage){
                showChat(JSON.parse(chatMessage.body));
            });
        });
    }


    function disconnect(){
        if(stompClient !== null){
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected");
    }


//WebSocketConfig 에서 설정해준 /send 로 메세지 보냄
    function sendChat(){
        var messageInput = document.getElementById("message").value;

        if(sender === author){
            receiver = username;
        } else{ receiver = author;}

        if(messageInput != ""){
        console.log('메시지를 보내는 sendChat() 메서드 호출, 보내는 사람 : ', sender);
        console.log('이 글을 쓴 사람 : ', author);
        console.log('받는 사람 : ', receiver);
            stompClient.send("/send/"+roomId, {},
                JSON.stringify({
                    'sender':sender,
                    'receiver':receiver,
                    'message':messageInput
                })
            );
            document.getElementById("message").value = '';
        }
    }


    function loadChat(chatList){
        if(chatList != null){
            for(chat in chatList){
                if(chatList[chat].sender == sender){
                    $("#chatting").append(
                        "<div class = 'chatting_own'><tr><td>" + chatList[chat].message + "</td></tr></div>"
                    );
                } else {
                    $("#chatting").append(
                        "<div class = 'chatting'><tr><td>" + "[" + chatList[chat].sender + "] " + chatList[chat].message + "</td></tr></div>"
                    );
                }
            }
        }
//자동 스크롤
        $('.col-md-12').scrollTop($('.col-md-12')[0].scrollHeight);
    }


    function showChat(chatMessage) {
        if (chatMessage.sender == sender) {
            $("#chatting").append(
                "<div class = 'chatting_own'><tr><td>" + chatMessage.message + "</td></tr></div>"
            );
        } else {
            $("#chatting").append(
                "<div class = 'chatting'><tr><td>" + "[" + chatMessage.sender + "] " + chatMessage.message + "</td></tr></div>"
            );
        }
        $('.col-md-12').scrollTop($('.col-md-12')[0].scrollHeight);
    }


    $(function () {
        $("form").on('submit', function (e) {
            e.preventDefault();
        });
        $( "#send" ).click(function() { sendChat(); });
    });
</script>
<script>
    window.onload = function (){
        connect();
    }

    window.beforeunload = function (){
        disconnect();
    }
</script>

</body>

</html>