<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>newArticle</title>

    <!--    Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .game-radio {
            display: none;
        }

        .game-label {
            display: inline-block;
            width: 100px;
            height: 100px;
            background-size: cover;
            cursor: pointer;
        }

        .game-label.selected {
            border: 2px solid red;
        }
    </style>
</head>
<body>

<header>
    <a href="/articles"><h1>GameTogether! 같이할래?</h1></a>
    <h5>나랑 같이 게임할사람~?</h5>
</header>

<main>
    <button type="button" id="createArticle-btn" th:onclick="|location.href='@{/new-article}'|" class="btn btn-primary">글 등록</button>
    <button type="button" id="myArticle-btn" th:onclick="|location.href='@{/my-article}'|" class="btn btn-primary">내가 쓴 글</button>
    <button type="button" id="chatRoom-btn" th:onclick="|location.href='@{/chat-room}'|" class="btn btn-primary">채팅방</button>

    <section>
        <div class="form-check form-check-inline">
            <label class="game-label" for="gameRadio1" style="background-image:url('/img/lolLogo.png')"></label>
            <input class="game-radio" type="radio" name="inlineRadioOptions" id="gameRadio1" value="리그오브레전드">

        </div>
        <div class="form-check form-check-inline">
            <label class="game-label" for="gameRadio2" style="background-image:url('/img/overLogo.png')"></label>
            <input class="game-radio" type="radio" name="inlineRadioOptions" id="gameRadio2" value="오버워치">

        </div>
    </section>
    <div class="card">
        <input type="hidden" id="article-id" th:value="${article.id}">
        <input type="text" class="card-header" placeholder="제목" id="title" th:value="${article.title}">

        <div class="card-body">
            <textarea class="card-title" placeholder="내용" id="content" th:text="${article.content}"></textarea>

            <button th:if="${article.id}!=null" type="button" id="modify-btn" class="btn btn-primary">수정</button>
            <button th:if="${article.id}==null" type="button" id="create-btn" class="btn btn-primary">등록</button>

        </div>
    </div>
</main>

<script>
    //게임을 선택하는 스크립트
    var selectedGame;

    document.querySelectorAll('.game-label').forEach(function(label) {
        label.addEventListener('click', function() {
            label.classList.toggle('selected');
            selectedGame = label.nextElementSibling.value;
            console.log(selectedGame);
            document.querySelectorAll('.game-label').forEach(function(otherLabel) {
                if (otherLabel !== label) {
                    otherLabel.classList.remove('selected');
                }
            });
        });
    });
</script>

<script src="/js/apiRequest.js"></script>
<script src="/js/article.js"></script>

</body>
</html>